.post {
  width: min(500px, 60vw);
  margin: 0 min(10px,2vw) 0px 10px;
  /* margin-right: 15px; */
}

.postImg {
  width: min(500px, 60vw);
  height: min(300px, 35vw);
  object-fit: cover;
  border-radius: 7px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCat {
  font-family: "Varela Round", sans-serif;
  font-size: min(11px, 3vw);
  color: #be9656;
  line-height: 2vh;
  margin-top: 1.5vh;
  margin-right: 1vh;
  cursor: pointer;
}

.postTitle {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: min(500px, 50vw);
  font-family: "Josefin Sans", sans-serif;
  font-size: min(6vw,24px);
  font-weight: 700;
  margin-top: 2vh;
  cursor: pointer;
}

.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: min(13px, 3vw);
  color: #999;
  margin-top: 1.5vh;
}

.postDesc {
  font-family: "Varela Round", sans-serif;
  font-size: min(14px, 3.5vw);
  color: #444;
  line-height: 3vh;
  margin-top: 2vh;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}