.singlePost {
    flex: 9;
}
  
.postWrapper {
    padding: 20px;
    padding-right: 0;
}
  
.postImg {
    width: 90%;
    max-height: 300px;
    border-radius: 5px;
    object-fit: cover;
    margin:5% 5% 0 5%;
}
  
.singlepostTitle {
    text-align: center;
    margin: 10px;
    font-size: 28px;
    font-family: "Lora", sans-serif;
    margin-top: 140px;
    margin-left: 60px;
}
  
.postEdit{
    float: right;
    font-size: 16px;
}
  
.postIcon{
    margin-left: 10px;
    cursor: pointer;
}
  
.postIcon:first-child {
    color: rgb(2, 69, 69);
}
.postIcon:last-child {
    color: rgb(195, 49, 49);
}
  
.postInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #be9656;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
}
  
.postAuthor{
    margin-left: 5px;
}
  
.postBody {
    color: #666;
    font-size: 18px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
  
.postBody::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.singlePostTitleInput {
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
    text-align: center;
    border: none;
    color: gray;
    border-bottom: 1px solid lightgray;
    margin-left: 400px;
  }

  .singlePostTitleInput:focus {
    outline: none;
  }

  .postBody::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
  }
  
  .postBodyInput {
    border: none;
    color: #666;
    font-size: 18px;
    line-height: 25px;
    margin-left: 200px;
  }
  
  .postBodyInput:focus {
    outline: none;
  }

  .postButton {
    width: 100px;
    border: none;
    background-color: teal;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
    margin-left: 1000px;
  }