.sideBar{
    flex:3;
    margin: 20px;
    padding-bottom: 20px;
    background-color:aliceblue;
    border-radius: 5%;
}

.sideBar img{
    max-width: 70%;
    /* text-align: center; */
    /* margin-left: 5%; */
}

.sideBarIcons{
    margin-right: 25px;
}

.sideBarItem{
    /* margin: 5px; */
    margin-right: 19px;
    text-align: center;
}

.sideBarTitle{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    font-family: 'Varela', sans-serif;
    text-align: center;
}

.sideBarList{
    list-style: none;
    margin-bottom: 20px;
}

.sideBar li{
    display: inline-block;
    width: 49%;
    text-align: center;
}